{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>Books of Duchesses</title>

<head>
<link rel="shortcut icon" type="image/png" href="https://lh3.googleusercontent.com/proxy/ropw1-qPxCyit3DtxuQtWmoUHPC7HC9FikXUnr_IdMZRzdA5srDWrGbIRlr1lL8CmP2u2CLMCK2RjokQy6ktHSSjpotjcPNticEshujjtxSeOadImA"/>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144638211-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-144638211-1');
</script>
</head>

<!-- Meta and stylesheets -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.2/shuffle.js"></script>
<!-- Leaflet references -->
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>

<body>
<div class="container" style="overflow:hidden; display:block; position:relative; padding-bottom:125px;">
  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-white w3-wide w3-padding w3-card">
      <a href="/" class="w3-bar-item w3-button">Books of Duchesses</a>
      <!-- Float links to the right. Hide them on small screens -->
      <div class="w3-right w3-hide-small">
        <a href="https://booksofduchesses.com/about" class="w3-bar-item w3-button">About/Usage</a>
        <a href="https://booksofduchesses.com/#map" class="w3-bar-item w3-button">Map</a>
        <a href="https://booksofduchesses.com/search" class="w3-bar-item w3-button">Search</a>
	<a href="https://booksofduchesses.com/suggest" class="w3-bar-item w3-button">Suggest</a>
       <!-- <a href="https://booksofduchesses.com/howto" class="w3-bar-item w3-button">How To Use</a> -->
       <!-- <a href="#owners" class="w3-bar-item w3-button">Books & Book Owners</a> -->
      </div>
    </div>
  </div>

  <!-- Page content here -->
  {% block content %}{% endblock %}
  <!-- End page content -->

  <!-- Footer -->
  <div style="width:100%; text-align:center;">
    <footer style="width:100%; position:absolute; bottom:0; padding-bottom:0px; background:#add8e6;">
      <p><a href="https://www.haverford.edu"><strong>Haverford College</strong></a></p>
      <p style="font-size: 13px;">&copy; <a href="https://www.haverford.edu/library/digital-scholarship">2020 Haverford College Libraries</a></p>
    </footer>
  </div>
</div>

</body>
</html>

