{% extends "base.html" %}
{% load staticfiles %}
{% load geojson_tags %}

{% block content %}
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">

<!-- page container -->
<div class="column-left">

  <!-- Page Title, not a header per say -->
  <div class="w3-container w3-padding-32" id="about">
    <h2 style="text-align:center; padding-top:30px;">Book: {{ book.shelfmark }}
    {% if book.date_created %}
      (created {{ book.date_created }})
    {% endif %}
    </h2>
    <hr></hr>
  </div>

  <!-- Left column: book overview, a bunch of checks to see if certain elements exist-->
   <div style="padding-left:20px; padding-right:20px;">
    <div class="w3-col l3 m6 w3-margin-bottom">
      {% if book.image %}
        <img src="http://booksofduchesses.com/media/{{book.image}}" style="object-fit:cover; overflow:hidden; width:100%;height:100%;">
      {% else %}
        <!-- Default image -->
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Binding_by_Zaehnsdorf%2C_1896.jpg/621px-Binding_by_Zaehnsdorf%2C_1896.jpg" alt="John" style="width:100%">
      {% endif %}
      {% if book.digital_version %}
        <p><button class="w3-button w3-light-grey w3-block"><a href="{{book.digital_version}}">Digitization</a></button></p>
      {% endif %}
      {% if book.catalog_entry %}
        <p><button class="w3-button w3-light-grey w3-block"><a href="{{book.catalog_entry}}">Catalog</a></button></p>
      {% endif %}
        <p class="w3-opacity">Texts:
      {% for text in texts %}
        <li><a href="http://booksofduchesses.com/texts/{{text.title}}/">{{ text.title }}</a></li>
      {% endfor %}
      {% for illum in illuminators %}
        <li>{{ illum.name }}</a></li>
      {% endfor %}
      {% for scribe in scribes %}
        <li>{{ scribe.name }}</a></li>
      {% endfor %}
        </p>
    </div>
    <!-- Map -->
    <div id="mapid" style="width:44%; height:600px; left:40px; float:left; z-index:0;">

      <script>

        var greenIcon = new L.Icon({
            iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });

        var mymap = L.map('mapid').setView([50.332721, 1.050860], 5);

        L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
                maxZoom: 18,
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
                        '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                        'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                id: 'mapbox.streets'
        }).addTo(mymap);

        // Places is a list of BookLocation objects
        var places = {{ places|geojsonfeature:'popupcontent'|safe }};
        // Leaflet Marker Cluster
        var mcg = new L.MarkerClusterGroup();

        var bookLayer = L.geoJSON(places, {
        pointToLayer: function (feature, latlng) {
            return L.marker(latlng, {icon: greenIcon});
        },

        onEachFeature: function(feature, layer) {
            // Gets popupcontent from model method
            var props = feature.properties.popupcontent;
            var content = `<p>${props}</p>`;
            layer.bindPopup(content);
        }
        });

        mcg.addLayer(bookLayer);
        mymap.addLayer(mcg);

      </script>
    </div>
    <!-- Right Column content- linked information mostly-->
    <div class="w3-col l3 m6 w3-margin-bottom" style="float:right; text-align:center;">
      <h3 style="text-align:center;"><strong>Ownership Details</strong></h3>
      {% for owner in owners %}
        {% if owner.book_owner.gender == "Male" %}
          <p>{{ owner.book_owner }}, Ownership {{owner.conf_or_possible}} ({{ owner.dateowned }})</p>
        {% else %}
          <p><a href="http://booksofduchesses.com/owners/{{owner.book_owner}}/">{{ owner.book_owner }}</a>, Ownership {{owner.conf_or_possible}} ({{ owner.dateowned }})</p>
        {% endif %}
      {% endfor %}
      <br></br>
      <h3 style="text-align:center;"><strong>Bibliography</strong></h3>
      {% for bib in bibs %}
        <p style="text-align:left; font-size:11px;"><i>{{bib.source}}</i></p>
      {% endfor %}
    </div>

  </div>

</div>
{% endblock %}

