{% extends "base.html" %}
{% load staticfiles %}
{% load geojson_tags %}
{% load static %}
{% block content %}

<!-- Leaflet imports, js for autocomplete -->
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css">
<!-- Style that overrides w3schools stylesheet-->

<style>
#greenAdd {display: none;}
#purpleAdd {display: none;}
#textsAdd {display: none;}

.center {
  margin: auto;
  width: 80%;
  border: 3px solid darkblue;
  padding: 10px;
}
* {
  box-sizing: border-box;
}
/* Create two unequal columns that float next to each other */
.column {
  float: left;
  padding: 10px;
  height: 820px; /* Should be removed. Only for demonstration */
}
.left {
  width: 20%;
}
.right {
  width: 80%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Map legend style */
.legend {
  line-height: 18px;
  color: white;
  padding-left:10px;
  width: 90px;
  background: gray;
}
/* Screen resizing for title */
.w3-display-middle {
  padding-left:130px;
}


@media screen and (max-width: 1000px) {
  .w3-image {
    opacity: 0.2;
  }
  .w3-display-middle {
    padding-left:0px;
  }
  .column {
    float: none;
  }
  .right {
    width: 90%;
  }
}
</style>

<!-- Homepage setup, still needs modification for mobile -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <div> <img class="w3-image" src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Woman_in_Medieval_Dress_or_Costume_%2822%29.JPG" alt="Medieval woman reading a book" width="600" height="600"></div>
  <div class="w3-display-middle w3-margin-top w3-center">
  <h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Books of Duchesses</b></h1></span><br> <h3><span class="w3-hide-small w3-text-dark-grey">Mapping Women Book Owners in Francophone Europe, 1350-1550</h3><br><br> <a class="w3-text-dark-grey" href=" https://www.haverford.edu/users/swatson
">Sarah Wilma Watson (Haverford College)</a> <br>&<br> <a class="w3-text-dark-grey" href="https://sckaplan.squarespace.com/">S.C. Kaplan (Independent Scholar)</a> </span></a>
  </div>
</header>

<hr></hr>
<div id="about" style="margin-top: 85px">
  <div class="w3-content w3-wide" id="about">
	<p><strong>Books of Duchesses</strong> collects, organizes, and presents data related to late-medieval laywomen and their books. Through an interactive <a href="/map">map</a> of Europe, users are able to visualize networks of manuscripts, texts, and readers and explore the libraries and peregrinations of woman book owners. For more information about our methodology and how to use the project see <a href="/about">About/Usage</a>.</p> 
	<br>
	<center><p><strong>The Project currently includes: {{owners_about}} Women Owners, {{books_about}} Books, {{texts_about}} Texts</strong></p></center>
  </div>
</div>
<br>
<br>
<hr></hr>

<!-- Create search forms passed from index view thru forms-->
<div class="column left" style=" margin-top: 30px; font-family:Verdana,sans-serif; padding-left:25px;">
  <form action="#map" method="post" style="margin-top: 50px; padding 0px;" id="map">
    {% csrf_token %}
    <p>Display:</p>{{ search_form.display }}
    <p>Dates:</p>{{ search_form.start_date }} to {{ search_form.end_date }}<br>
    <p>Owner:</p>{{ search_form.owner }}<br>
    <p>Shelfmark:</p>{{ search_form.shelfmark }}<br>
    <p>Text:</p>{{ search_form.text }}<br>
    <p>Author:</p>{{ search_form.author }}<br>
    <p>Tag:</p>{{ search_form.genre }}<br>
    <br></br>
    {{ search_form.media }}
    <input type="submit" value="Submit">
  </form>
</div>

<!-- Map Section -->
<div class="column right" style="margin-top: 30px; padding-right:25px; padding-left:10px;">
  <div id="mapid" style="width: 100%; height:800px;">
    <script>
      // Define green icons, to represent books
      var greenIcon = new L.Icon({
        iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });
      // Purple icons, to represent owners
      var violetIcon = new L.Icon({
        iconUrl: 'https://github.com/pointhi/leaflet-color-markers/raw/master/img/marker-icon-2x-violet.png',
        shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
        iconSize: [25, 41],
        iconAnchor: [12, 41],
        popupAnchor: [1, -34],
        shadowSize: [41, 41]
      });
      // Create the map, set zoom level and location
      var mymap = L.map('mapid').setView([50.332721, 1.050860], 5);
      L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
      	maxZoom: 18,
      	attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
      		'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
      		'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
      	id: 'mapbox.streets'
      }).addTo(mymap);

      // Create legend, position it
      var legend = L.control({position: 'bottomleft'});
      // Send two values to legend, book and owner
      legend.onAdd = function (mymap) {
          var div = L.DomUtil.create('div', 'info legend'), grades = ["Owner", "Book"],
      // label said values with images of their pin
      	  labels = ["https://github.com/pointhi/leaflet-color-markers/raw/master/img/marker-icon-2x-violet.png","https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png"];
      // Style/html to make legend content fit and look good
          div.innerHTML = '<p style="text-align:center;">Legend</p>';
          for (var i = 0; i < grades.length; i++) {
              div.innerHTML += ("<img src="+ labels[i] +" height='41' width='25'>")+ " " + grades[i] +'<br>';
          }
          return div;
      };
      legend.addTo(mymap);

      // Get owners data
      var owners = {{ owners|geojsonfeature:'popupcontent'|safe }};

      // Will be filled with geom, popupcontent from above
      var coords = [];
      var popups = [];
      // Loop counter vars
      var i;
      var j;
      var k;
      var z;
      var t = 0;
      // For tracking matching locations
      var unique_place = false;

      // Begin with owners
      var ownerLayer = L.geoJSON(owners, {
          pointToLayer: function (feature, latlng) {
              return L.marker(latlng, {icon: violetIcon});
          },
          onEachFeature: function(feature, layer) {
            matched_coords = [];
            matched_popups = [];
            // Create a list of coords grouped into lists of same coordinates
            // Popups list matches order for indexing
            coords.push(feature.geometry.coordinates);
            popups.push(feature.properties.popupcontent);
            for (i = 0; i < coords.length; i++) {
              for (j = 0; j < matched_coords.length; j++) {
	                 if (matched_coords[j][0][0] == (coords[i][0])) {
                       matched_coords[j].push(coords[i]);
    	                 matched_popups[j].push(popups[i]);
                       unique_place = true;
    	                 break;
	   	           }
               }
              // If a new location, create a new list inside matched_coords, matched_popups
        		  if (unique_place == false) {
          		      matched_coords.push([coords[i]]);
            		    matched_popups.push([popups[i]]);
  		        }
  		        unique_place = false;
	          }
        // Go through nested array
	      for (k = 0; k < matched_coords.length; k++) {
            // k is the important index where we can get the information we want from matched_popups
		        if (matched_coords[k].includes(feature.geometry.coordinates)) { break; }
   	    }
        // Start assembling the popupcontent
	      var props = "";
        // Adds the city information
        props = props + matched_popups[k][0];
        // Go through the list at same location, assemble stacked popupcontent
	      for (t = 1; t < matched_popups[k].length; t++) {
    		  var br_marker = matched_popups[k][t].indexOf("br>")
    		  matched_popups[k][t] = matched_popups[k][t].substring(br_marker + 3,matched_popups[k][t].length)
    		  props = props + matched_popups[k][t];
          // If we get more than 10 elements at a location, we cut it off
          if (t > 10) {
              props = props + "<p>and " + ((matched_popups[k].length) + -t) + " more results. Narrow down your search!</p>";
              break;
          }
	      }
        // Format props
        var content = `<p>${props}</p>`;
        layer.bindPopup(content);
      }
      }).addTo(mymap);

      var inArray = false;
      t = 0;

      // Follow the same process for books
      var books = {{ books|geojsonfeature:'popupcontent'|safe }};
      var bookLayer = L.geoJSON(books, {
          pointToLayer: function (feature, latlng) {
              return L.marker(latlng, {icon: greenIcon});
          },
          onEachFeature: function(feature, layer) {
              c = [];
              d = [];
       	      props = [];

              coords.push(feature.geometry.coordinates);
  	      popups.push(feature.properties.popupcontent);
              for (i = 0; i < coords.length; i++) {  
                  for (j = 0; j < c.length; j++) {
 		      if (c[j][0][0] == (coords[i][0])) {
  		          c[j].push(coords[i]);
  			  d[j].push(popups[i]);
 	                  inArray = true;
			  break;
  	   	      }              
                  }
  		  if (inArray == false) {
    		      c.push([coords[i]]);
      		      d.push([popups[i]]);
		  }
  		  inArray = false;
	      }

	      for (k = 0; k < c.length; k++) {
		  if (c[k].includes(feature.geometry.coordinates)) { break; }
	          
   	      }  
	      var props = "";
              var first_break = d[k][0].indexOf("br>")
              props = props + d[k][0].substring(0,first_break+3)
	      var booksStart = true;
	      for (t = 0; t < d[k].length; t++) {
		  var x = d[k][t].indexOf("br>")
		  d[k][t] = d[k][t].substring(x+3,d[k][t].length)
		  if (d[k][t].indexOf("owned by") > 0 && booksStart == true) {
		      props = props + "<strong>Books: </strong><br>"
		      booksStart = false;
		  }
                  if (t > 10) {
                      props = props + "<p>and " + ((d[k].length) + -t) + " more results. Narrow down your search!</p>";
                      break;
                  }
		// Can add an additional break to reduce lag?
		  props = props + d[k][t];
	      } 
              var content = `<p>${props}</p>`;
              layer.bindPopup(content);
          }
      }).addTo(mymap);

    </script>
  </div>
</div>
<!-- Search results display -->
<div style="padding-left:25px;">
  <br></br>
  <br></br>
  <!-- Check for search results, display them if they exist -->
  {% if display_search == True %}
  <h3>Search Results:</h3>
    <p><strong> Your search returned {{book_len}} books, {{owner_len}} owners, and {{text_len}} texts. For entries without geographical information, use <a href="https://booksofduchesses.com/search">Search</a></strong></p>

  <ul style="padding-left: 30px;display: inline-block; vertical-align: top; text-align:left;">
  <h4>Books:</h4>
    {% if books_search_preview %}
      {% for b in books_search_preview %}
        <li style="font-size:12px;"><a href="https://booksofduchesses.com/books/{{b.shelfmark}}">{{b.shelfmark}}</a></li>
      {% endfor %}
      <span id="greenMore"></span><span id="greenAdd">
      {% for book in books_search %}
        <li style="font-size:12px;"><a href="https://booksofduchesses.com/books/{{book.shelfmark}}">{{book.shelfmark}}</a></li>
      {% endfor %}
      </span>
      <button onclick="greenFunction()" id="myBtn" style="border: 2px solid #4CAF50;font-size:10px;background-color:white">Show all {{book_len}} books</button>
    {% else %}
      {% for book in books_search %}
        <li style="font-size:12px;"><a href="https://booksofduchesses.com/books/{{book.shelfmark}}">{{book.shelfmark}}</a></li>
      {% empty %}
        <li style="font-size:12px;">No book locations were returned (did you select the books checkbox?)</li>
      {% endfor %}

    {% endif %}
  </ul>



<script>
function greenFunction() {
  var dots = document.getElementById("greenMore");
  var moreText = document.getElementById("greenAdd");
  var btnText = document.getElementById("myBtn");

  btnText.setAttribute("style","border: 2px solid #4CAF50;font-size:10px;background-color:white");
  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Show all " + {{book_len}} + " books"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Show less"; 
    moreText.style.display = "inline";
  }
}
</script>


  <ul style="padding-left: 30px; display: inline-block; vertical-align: top; text-align:left;">
  <h4>Owners:</h4>
    {% if owners_search_preview %}
      {% for o in owners_search_preview %}
	{% if o.gender == "Male" %}
          <li style="font-size:12px;">{{o.name}}</li>
        {% else %}
          <li style="font-size:12px;"><a href="https://booksofduchesses.com/owners/{{o.name}}">{{o.name}}</a></li>
  	{% endif %}
      {% endfor %}
      <span id="purpleMore"></span><span id="purpleAdd">
      {% for owner in owners_search %}
	{% if owner.gender == "Male" %}
          <li style="font-size:12px;">{{owner.name}}</li>
	{% else %}        
	  <li style="font-size:12px;"><a href="https://booksofduchesses.com/owners/{{owner.name}}">{{owner.name}}</a></li>
	{% endif %}
      {% endfor %}
      </span>
      <button onclick="purpleFunction()" id="theBtn" style="border: 2px solid #9400D3;font-size:10px;background-color:white">Show all {{owner_len}} owners</button>
    {% else %}
      {% for owner in owners_search %}
        <li style="font-size:12px;"><a href="https://booksofduchesses.com/owners/{{owner.name}}">{{owner.name}}</a></li>
      {% empty %}
        <li style="font-size:12px;">No owner locations were returned</li>
      {% endfor %}
    {% endif %}
  </ul>

<script>
function purpleFunction() {
  var dots = document.getElementById("purpleMore");
  var moreText = document.getElementById("purpleAdd");
  var btnText = document.getElementById("theBtn");

  btnText.setAttribute("style","border: 2px solid #9400D3;font-size:10px;background-color:white");
  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Show all " + {{owner_len}} + " owners";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Show less";
    moreText.style.display = "inline";
  }
}
</script>


  <ul style="padding-left: 30px;display: inline-block; vertical-align: top; text-align:left;">
  <h4>Texts:</h4>
    {% if texts_search_preview %}
      {% for t in texts_search_preview %}
        <li style="font-size:12px;"><a href="https://booksofduchesses.com/texts/{{t.title}}">{{t.title}}</a></li>
      {% endfor %}
      <span id="textsMore"></span><span id="textsAdd">
      {% for text in texts_search %}
        <li style="font-size:12px;"><a href="https://booksofduchesses.com/texts/{{text.title}}">{{text.title}}</a></li>
      {% endfor %}
      </span>
      <button onclick="textsFunction()" id="textsBtn" style="border: 2px solid yellow;font-size:10px;background-color:white">Show all {{ text_len }} texts</button>
    {% else %}
      {% for text in texts_search %}
        <li style="font-size:12px;"><a href="https://booksofduchesses.com/texts/{{text.title}}">{{text.title}}</a></li>
      {% empty %}
        <li style="font-size:12px;">No texts were returned</li>
      {% endfor %}
    {% endif %}
  </ul>


<script>
function textsFunction() {
  var dots = document.getElementById("textsMore");
  var moreText = document.getElementById("textsAdd");
  var btnText = document.getElementById("textsBtn");

  btnText.setAttribute("style","border: 2px solid yellow;font-size:10px;background-color:white");
  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Show all " + {{text_len}} + " texts";
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Show less";
    moreText.style.display = "inline";
  }
}
</script>
  {% endif %}

</div>

{% endblock %}

