{% extends "base.html" %}
{% load staticfiles %}
{% load geojson_tags %}

{% block content %}




<style>
    .center {
  margin: auto;
  width: 80%;
  border: 3px solid darkblue;
  padding: 10px;
}
    * {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 820px; /* Should be removed. Only for demonstration */
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
<header class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="home">
  <img class="w3-image" src="https://upload.wikimedia.org/wikipedia/commons/9/9a/Woman_in_Medieval_Dress_or_Costume_%2822%29.JPG" alt="Medieval woman reading a book" width="600" height="600">
  <div class="w3-display-middle w3-margin-top w3-center" style="padding-left: 130px;">
    <a href="#map"><h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Books of Duchesses</b></h1></span><br> <h3><span class="w3-hide-small w3-text-dark-grey">Women Book Owners in Late-Medieval Francophone Europe: 1350-1500</h3><br><br> <a class="w3-text-dark-grey" href=" https://www.haverford.edu/users/swatson
">Sarah Wilma Watson (Haverford College)</a> <br>&<br> <a class="w3-text-dark-grey" href=" https://clic.rice.edu/people/faculty/sc-kaplan">S.C. Kaplan (Rice University)</a> </span></a>
  </div>
</header>


<!-- About section -->
<div id="about" style="margin-top: 100px">
<div class="w3-content w3-wide" style="padding-left:10px;padding-right:10px;" id="about">
  <h2 style="text-align:center;">About</h2>
  <p>This project collects, organizes, and presents data related to late-medieval laywomen and their books. Through an interactive map of Europe, users are able to visualize networks of manuscripts, texts, and readers and explore the libraries and peregrinations of woman book owners.</p>
    <br>
  <p>The data collected in the beta-version of the project has the potential to shift scholarly paradigms by challenging narratives of national literary history and uncovering the active role played  by women in creating, consuming literary and material culture and in circulating texts across national, geographic, and generational borders.</p>
    <br>
  <p>The geographic scope of the project is initially limited to England and French-speaking regions on the continent, including France and Burgundy. The time frame of the project is currently bounded between 1350 and 1500, a period of intense political, interfamilial, and interpersonal changes and exchanges due to the Hundred Years War.</p>

</div>
</div>


  <div class="column left" style=" margin-top: 30px; font-family:Verdana,sans-serif; padding-left:25px;">
    <form action="#map" method="post" style="margin-top: 70px">
    {% csrf_token %}
        <p>Search:</p>{{ search_form.search }}<br>
        <p>Dates:</p>{{ search_form.start_date }} to {{ search_form.end_date }}<br>
        <p>Owner:</p>{{ search_form.owner }}<br>
        <p>Shelfmark:</p>{{ search_form.shelfmark }}<br>
        <p>Text:</p>{{ search_form.text }}<br>
        <p>Author:</p>{{ search_form.author }}<br>
        <p>Genre:</p>{{ search_form.genre }}<br>

    <input type="submit" value="Submit">
</form>
  </div>

  <div class="column right" style="margin-top: 30px; padding-right:25px;">

<div id="mapid" style="width: 100%; height:800px;">


    <script>
     var greenIcon = new L.Icon({
  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});

       var violetIcon = new L.Icon({
  iconUrl: 'https://github.com/pointhi/leaflet-color-markers/raw/master/img/marker-icon-2x-violet.png',
  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
  iconSize: [25, 41],
  iconAnchor: [12, 41],
  popupAnchor: [1, -34],
  shadowSize: [41, 41]
});


	var mymap = L.map('mapid').setView([50.332721, 1.050860], 5);

	L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox.streets'
	}).addTo(mymap);

//	var locations = {{ locations|geojsonfeature:'popupcontent'|safe }};
  //  L.geoJson(locations, { onEachFeature: function(feature, layer) {
    //        var props = feature.properties.popupcontent;
      //      var content = `<p>${props}</p>`;
        //    layer.bindPopup(content);
       // }}).addTo(mymap);


   // var authors = {{ authors|geojsonfeature:'popupcontent'|safe }};

   // L.geoJSON(authors, {
 // pointToLayer: function (feature, latlng) {
   //         return L.marker(latlng, {icon: greenIcon});
   // },

 // onEachFeature: function(feature, layer) {
   //   var props = feature.properties.popupcontent;
     // var content = `<p>${props}</p>`;
      //layer.bindPopup(content);
 // }}).addTo(mymap);

        var owners = {{ owners|geojsonfeature:'popupcontent'|safe }};

L.geoJSON(owners, {
  pointToLayer: function (feature, latlng) {
            return L.marker(latlng, {icon: violetIcon});
    },

  onEachFeature: function(feature, layer) {
      var props = feature.properties.popupcontent;
      var content = `<p>${props}</p>`;
      layer.bindPopup(content);
  }}).addTo(mymap);

</script>
</div>
</div>
{% endblock %}
