{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<style>
    .teach {
        text-align:center; 
        font-size:13px 
    }
</style>
<h2 style="text-align:center; padding-top:65px;">Teaching Materials</h2>
<br>

<p class='teach'>Books of Duchesses can be used in the classroom to develop student research skills. The project can be used to support student learning in courses on book history, medieval and early modern literature, and gender studies.</p>

<p class='teach'>For an overview of how to use Books of Duchesses in the classroom please explore <a target="_blank" href="https://middleagesforeducators.princeton.edu/books-duchesses-mapping-women-book-owners-francophone-europe-1350-1550">this video</a> introduction on Princeton's Middle Ages for Educators website.</p>

<p class='teach'>For sample exercises and assignments please see below:</p>

<p class='teach'><a target="_blank" href="https://docs.google.com/document/d/1koIEwsL3OVdMs-JuckR4DoyQojRXn4oL7VL4kHa5cfA/edit?usp=sharing">Women Readers of Chaucer</a></p>

<p class='teach'><a target="_blank" href="https://docs.google.com/document/d/18NTKj58t7JY--nXKCA0GHqb-T4u31LgFOxogF4LwrYk/edit?usp=sharing">Women Readers from Shakespeare's History Plays</a></p>

<p class='teach'><a target="_blank" href="https://docs.google.com/document/d/1N-gmxzs7HSsynK8OEVPbj19ZCMwVc9xk9wF7te32HS0/edit?usp=sharing">Women Readers of Women Writers</a></p>

<p class='teach'><a target="_blank" href="https://docs.google.com/document/d/1d2AZL1oIHOOGD_0sZBILe_Zi0Yq_Z1hWIpy3E854EBk/edit?usp=sharing">Final Research Project - Books of Duchesses</a></p>
    

{% endblock %}
    

