beautifulsoup4==4.8.2
certifi==2019.3.9
chardet==3.0.4
Django==2.2.20
django-appconf==1.0.3
django-autocomplete-light==3.3.5
django-crispy-forms==1.8.1
django-geojson==2.12.0
django-map-widgets==0.2.2
django-ranged-response==0.2.0
django-recaptcha==2.0.6
django-select2==7.1.0
idna==2.8
mysqlclient==1.4.2.post1
Pillow==8.3.2
pkg-resources==0.0.0
pyspotlight==0.7.2
pytz==2019.1
requests==2.22.0
six==1.12.0
soupsieve==1.9.5
sqlparse==0.3.0
urllib3==1.25.3
